[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "exams2sakai"]
	path = exams2sakai
	url = https://github.com/jesusmmp/exams2sakai
